# https://clangd.llvm.org/config#files
# include paths and defines are in compile_flags.txt (clangd resolves
# them relative to the repo root, which doesn't work from this file)
If:
  PathExclude:
    - .*\.c
CompileFlags:
  Add:
    - -std=c++17
---
If:
  PathExclude:
    - mupdf/.*
    - ext/.*

Diagnostics:
  Suppress:
    - unused-parameter # example 1
    - misc-use-internal-linkage
    - misc-use-anonymous-namespace
    - readability-identifier-length
    - bugprone-switch-missing-default-case
    - readability-avoid-unconditional-preprocessor-if
    - bugprone-easily-swappable-parameters
    - readability-isolate-declaration
    - readability-function-cognitive-complexity
    - readability-qualified-auto
    - modernize-use-auto
    - readability-simplify-boolean-expr
    - readability-use-std-min-max
    - readability-named-parameter
