---
Checks: >
  -*,
  boost-*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-use-nodiscard,
  -modernize-use-using,
  -performance-no-int-to-ptr,
  -performance-enum-size,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-non-const-parameter,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -readability-make-member-function-const
...
