*.suo
*.aps
*.opensdf
*.sdf
*.vspx
*pyc
*.vcxproj.user
*.cov
*.db
*.opendb
scripts/config.py
scripts/secrets.json
out.txt
out/
builds/
mupdf/generated/
vs2022/.vs/
vs2022-clang/.vs/
.vscode/db/
.vscode/ipch/
bin/cmapdump.exe
drmemlogs/
# src/utils/BuildConfig.h
build-log.txt
analyze-output.txt
analyze-errors.html
CoverageReport*
LastCoverageResults.log
artifacts/
.idea/
src/.vscode
tools/pdfjs/coverage/
cppcheck.out.txt
clangtidy.out.txt
website/dl2
node_modules
docs.epub
docs_epub_tmp
this_is_invalid_location
docs/www/*.html
docs/www/img/
AppxTemp/
__debug*.exe
docs/md/.obsidian/workspace.json

# https://stackoverflow.com/questions/10755655/git-ignore-tracked-files
# git update-index --assume-unchanged .\docs\manual.dat    : stop tracking changes
# git update-index --no-assume-unchanged .\docs\manual.dat : re-start tracking changes
# must be done in every checkout
docs/manual.dat

vs2022-clang/
vs2026/
