image { text-align: center; text-indent: 0px }
sub { vertical-align: sub; font-size: 70% }
sup { vertical-align: super; font-size: 70% }
stanza + stanza { margin-top: 1em; }
stanza { margin-left: 30%; text-align: left; font-family: "Times New Roman", "Times", serif; font-style: italic  }
poem { margin-top: 1em; margin-bottom: 1em; text-indent: 0px }
a { vertical-align: super; font-size: 70%; font-decoration: underline }
p { margin-top:0em; margin-bottom: 0em }
text-author { font-weight: bold; font-style: italic; margin-left: 5%}
empty-line { height: 1em }
epigraph { margin-left: 25%; margin-right: 1em; text-align: left; text-indent: 1px; font-family: "Times New Roman", "Times", serif; font-style: italic; margin-top: 15px; margin-bottom: 25px }
strong { font-weight: bold }
emphasis { font-style: italic }
title { color: #C00; text-align: center; text-indent: 0px; font-size: 150%; font-weight: bold; margin-top: 0.7em; margin-bottom: 0.5em; font-family: "Times New Roman", "Times", serif }
subtitle { color: #800; text-align: center; text-indent: 0px; font-weight: bold; font-style: italic; margin-top: 10px; margin-bottom: 10px }
title { page-break-before: always; page-break-inside: avoid; page-break-after: avoid; }
body { text-align: justify; text-indent: 2em; line-height: 120% }
cite { font-style: italic; margin-left: 5%; margin-right: 5%; text-align: justyfy; margin-top: 20px; margin-bottom: 20px; font-family: "Times New Roman", "Times", serif }
empty-line { height: 1em; }

body[name="notes"] { font-size: 70%; }
body[name="notes"] > section > title { display: run-in; text-align: left; font-size: 110%; font-weight: bold; page-break-before: auto; page-break-inside: auto; page-break-after: auto; }
body[name="notes"] > section > title > p { display: inline }

description { display: block; }
title-info { display: block; }
genre { display: none; }
author { display: none; }
book-title { display: none; }
annotation { margin-left: 5%; margin-right: 5%; font-size: 80%; font-style: italic; text-align: justify; text-indent: 2em }
keywords { display: none; }
date { display: block; font-size: 80%; font-style: italic; text-align: center }
lang { display: none; }
src-lang { display: none; }
translator { display: none; }
document-info { display: none; }
publish-info { display: none; }
custom-info { display: none; }
coverpage { display: none }
