#include <windows.h>
#include "Resource.h"
#include "../Version.h"

VS_VERSION_INFO    VERSIONINFO     MOVEABLE IMPURE LOADONCALL DISCARDABLE
  FILEVERSION    VER_RESOURCE
  PRODUCTVERSION VER_RESOURCE
  FILEFLAGS     0
  FILEOS        VOS_NT_WINDOWS32
  FILETYPE      VFT_APP
  FILESUBTYPE   0       // not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    //language ID = U.S. English, char set = Windows, Multilingual

    BEGIN
      VALUE "FileDescription",  "SumatraPDF Installer"
      VALUE "FileVersion",      VER_RESOURCE_STR
      VALUE "LegalCopyright",   COPYRIGHT_STR
      VALUE "OriginalFilename", "SumatraPDF-installer.exe"
      VALUE "ProductName",      "SumatraPDF Installer"
      VALUE "ProductVersion",   VER_RESOURCE_STR
      VALUE "CompanyName",      PUBLISHER_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END

IDI_SUMATRAPDF          ICON                    "..\SumatraPDF-smaller.ico"

1                       RT_MANIFEST             "Installer.exe.manifest"

#ifdef INSTALL_PAYLOAD_ZIP
1                       RT_RCDATA               QM(INSTALL_PAYLOAD_ZIP)
#endif
