#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             "Installer.exe.manifest"
