*        -text
*.c      text=auto
*.cpp    text=auto
*.cc     text=auto
*.h      text=auto
*.hpp    text=auto
*.m      text=auto
*.mm     text=auto

*.eel    text=auto
*.php    text=auto
*.txt    text=auto

*.bat    text eol=crlf
*.cmd    text eol=crlf

*.rc                text eol=crlf
*.dsp               text eol=crlf
*.dsw               text eol=crlf
*.sln               text eol=crlf
*.vcxproj           text eol=crlf
*.vcxproj.filters   text eol=crlf

*.sh                text eol=lf
*.pbxproj           text eol=lf
Makefile            text eol=lf
