*.la
*.lo
*.o
*.pc
m4/lt*.m4
libheif/*.a

.deps
.libs
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
examples/heif-convert
examples/heif-enc
examples/heif-info
examples/heif-test
examples/heif-test-go
examples/heif-thumbnailer
examples/src
examples/test-c-api
go/go
go/src
install-sh
libtool
libheif.js
libheif.js.map
libheif.min.js
ltmain.sh
Makefile
Makefile.in
m4/libtool.m4
missing
out.bin
libheif/*-fuzzer
libheif/heif_version.h
stamp-h1
tests/test-race
