/* brand */
.sidebar-logo {
    max-width: 80px;
}
.sidebar-brand-text {
    font-size: 14px;
    padding: 0;
    margin: 10px 0;
}

/* theme icon buttons - invert color because they're on our blue background instead of white/black */
.content-icon-container button {
	filter: invert(100%);
}

/* discord link in footer */
.discord-link {
	font-size: 14px;
}
.discord-link img {
	vertical-align: -4px;
	margin-left: 2px;
}

/* blue background top header */
h1 {
    padding: 5px 15px;
    background-color: #007aff !important; /* override :target highlighting */
    color: #fff;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: -10px;
}

/* re-style jamie's :title: "thing" highlighting */
cite {
    font-weight: bold;
    font-style: normal;
}

/* custom [tags] for examples etc */

.mutool_tag, .wasm_tag, .instance_props_tag, .instance_methods_tag, .example_tag {
    font-family: monospace;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.mutool_tag { background-color: #2ab57c; }
.wasm_tag { background-color: #2c5cbd; }
.instance_props_tag, .instance_methods_tag { background-color: #a5a5b5; }

.example_tag {
    font-size: 9px;
    color: white;
    background-color: #222;
}

/* license disclaimer in footer */
.footer-disclaimer {
	margin-top: 30px;
	padding: 10px;
	border: 1px solid #0004;
	color: #999;
}

/* Hide the "Made with" text, but show the copyright and last-updated */
.bottom-of-page .left-details { font-size: 0; }
.bottom-of-page .left-details .copyright { font-size:12px; }
.bottom-of-page .left-details .last-updated { font-size:12px; }
