ARCH=i386
PKG={__PKGNAME}
NAME={__APPNAME} SDK and run time libraries
VERSION={__VERSION},REV={__BUILD}
SUNW_PKGVERS=1.0
DESC=A SIMD-accelerated JPEG codec which provides both the libjpeg and TurboJPEG APIs
VENDOR=The libjpeg-turbo Project
HOTLINE=http://libjpeg-turbo.VirtualGL.org
EMAIL=information@virtualgl.org
MAXINST=1
CATEGORY=application
BASEDIR=/opt
CLASSES=none
SUNW_PKG_ALLZONES=true
SUNW_PKG_HOLLOW=false
SUNW_PKG_THISZONE=false
