<!doctype html>
<httml>
    <head>
        <style>
            html, body {
                font-family: monospace;
                font-size: 10pt;
            }
        </style>
        <script>
            let crash = {{.Crash}};
        </script>
    </head>
    <body>
        <div style="padding-bottom: 1em;"><a href="/">All crashes</a></div>
            {{range .CrashLinesLinked}}
                {{if .URL}}
                    <div><a href="{{.URL}}" target="_blank">{{.Text}}</a></div>
                {{else}}
                    <div>{{.Text}}</div>
                {{end}}
            {{end}}
        <pre>{{.CrashBody}}</pre>
    </body>
</html>
