IDI_ICONAPP ICON "mupdf.ico"

IDD_DLOGPASS DIALOG 50, 50, 204, 60
//STYLE DS_MODALFRAME | WS_POPUP
STYLE 128 | 0x80000000
CAPTION " MuPDF: Password "
FONT 8, "MS Shell Dlg"
BEGIN
	EDITTEXT			3, 57, 20, 140, 12, 32
	DEFPUSHBUTTON "Okay",		1, 90, 40, 50, 14, 0x50010001
	PUSHBUTTON "Cancel",		2, 147, 40, 50, 14, 0x50010000
	LTEXT "The file is encrypted.",	4, 10, 7, 180, 10, 0x00000
	LTEXT "Password:",		5, 17, 22, 40, 10, 0x00000
END

IDD_DLOGABOUT DIALOG 50, 50, 200, 220
STYLE 128 | 0x80000000
CAPTION " About MuPDF "
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON "Okay",	 1, 200-10-50, 220-7-14, 50, 14, 0x50010001
	LTEXT "<copyright>",	 2, 10, 10, 180, 20, 0
	LTEXT "<usage>",	 3, 10, 35, 180, 160, 0
END

