* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.ecosystem-base {
	background-color:#fff;
	margin:0px;
	padding:0px;
	font-family:"Source Sans Pro", sans-serif; /* 200 = ExtraLight, 300 = Light, 400 = regular, 600 = semi-bold, 700 = bold, 900 = black */
    font-weight:400;
	font-size:13px;
	color:#333333;
}

.ecosystem-base a:link,
.ecosystem-base a:visited,
.ecosystem-base a:active {
	color:#333;
	text-decoration:underline;
	font-size:13px;
}

.ecosystem-base h1 {
	text-align: center;
}

.block .text code {
	font-family:"Source Sans Pro", sans-serif;
}

.container {
	width: 100%;
	display: flex;
}

.block {
	margin: 0;
	height: 90px;
	z-index: 1;
}

.block .outer {
	height: inherit;
}


/** note, due to Chrome rendering rounding errors we can only use 33.33% for height if it divides to an int **/
/** Therefore we explicity set the height in pixels **/
/** See: https://stackoverflow.com/questions/30983212/1px-white-spacing-in-chrome-between-divs **/
.nineSquare {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 60px;
}

.nineSquare .sq {
	width: 33.33%;
	background-color: transparent;
}

.nineSquare .sq {
	height: 20px;
}

.nineSquare.long {
	height: 90px;
	margin-left: 0px;
}

.nineSquare.long .sq {
	height: 30px;
}

.nineSquare .sq.fill {
	background-color: rgba(96,171,255,0.5);
}

.nineSquare .sq.fill.curve-bottom-left {
	border-radius: 0 0 0 10px;
}

.nineSquare .sq.fill.curve-bottom-right {
	border-radius: 0 0px 10px 0px;
}

.nineSquare .sq.fill.curve-top-right {
	border-radius: 0 10px 0px 0px;
}

.nineSquare .sq.fill.curve-top-left {
	border-radius: 10px 0px 0px 0px;
}

.block.oneHundred {
	width: 100%;
}

.block.twenty {
	width: 20%;
}

.block.eighteen {
	width: 18%;
}

.block.sixteen {
	width: 16.666667%;
}

.block.fourteen {
	width: 14.28%;
}

.block.twoPointFive {
	width: 2.5%;
}

.block .inner {
	width: calc(100% - 40px);
	height: 100%;
	color: #000;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #333;
	margin: 0 20px;
}

.block .inner.base {
	width: 100%;
	height: 100%;
	padding: 0px 0 0 0;
	margin: 0;
}

.block .inner .info {
	cursor: pointer;
	postion: absolute;
	left: 100%;
	background-color: rgba(0,0,0,0.1);
	width: 20px;
	text-align: center;
	height: 20px;
	border-radius: 10px;
	text-indent:0px;
	line-height: 20px;
	margin: 2px 2px 2px auto;
}

.block .inner .info:after {
	content:"?";
}

.block .inner .text {
	margin-top: 10px;
}

.block .inner.base .text {
	margin-top:-10px;
}

.block .inner.base .link {
	margin-top:-10px;
}

.invisible {
	opacity: 0;
}


/* block colors */
.block .inner.coreMuPDF {
	background-color: rgba(212,192,214,1.0);
}

.block .inner.fitz {
	background-color: rgba(234,134,119,1.0);
}

.block .inner.wasmpdfJS {
	background-color: rgba(204,120,209,1.0);
}

.block .inner.ios {
	background-color: rgba(241,222,184,1.0);
}

.block .inner.android {
	background-color: rgba(235,221,142,1.0);
}

.block .inner.android-viewer {
	background-color: rgba(85,175,169,1.0);
}

.block .inner.android-mini {
	background-color: rgba(151,204,232,1.0);
}

/*** key needs to come after the other block stuff for overrides ***/
.key {
	position: relative;
	width: auto;
	height: auto;
	font-size: 13px;
	background-color: rgba(200,200,200,0.3);
	border-radius: 5px;
	right: 0;
	margin: 20px auto;
	padding: 10px;
}

.key .block {
	display: flex;
	height: 30px;
}

.key .link {
	margin-top: -5px;
	margin-bottom: 15px;
}

.key .block .text {
	text-align: left;
	text-indent: 5px;
	line-height: 20px;
	margin: 0;
}

.key .block .inner {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin: 0;
}

#lightbox {
	cursor: pointer;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
	z-index: 200;
}

#lightbox.show {
	display: block;
}

#lightbox .inner {
	background-color: #fff;
	width: 75%;
	height: auto;
	padding: 20px;
	margin: 25vh auto;
	border-radius: 20px;
	border: 1px solid #333;
}

#lightbox .inner .text {
	margin-bottom: 10px;
}

/** mutool sub boxes **/
.sq.coreMuPDF.mutool {
	line-height: 20px;
	background-color: rgba(212,192,214,1.0);
	border-radius: 5px;
	border: 1px solid #333;
	text-align: center;
	font-size: 9px;
	font-family:"Source Sans Pro", sans-serif;
}

/** responsive aspects **/
@media all and (max-width : 1300px) {

	.ecosystem-base {
		font-size: 12px;
	}

	#lightbox .inner {
		width: 90%;
	}

}

@media all and (max-width : 999px) {

	.logo {
		position: relative;
		right: 0;
		top: 0;
		margin: 0 auto;
	}

	.block .inner {
		width: calc(100% - 20px);
		margin: 0 10px;
	}

}

@media all and (max-width : 600px) {

	.block .inner {
		width: calc(100% - 4px);
		margin: 0 2px;
	}

	.block .inner .link {
		white-space: nowrap;
		width: inherit;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media all and (max-width : 400px) {

	.block .inner .text {
		font-size: 11px;
		margin-left: 2px;
		margin-right: 2px;
	}

	.block .inner .link {
		font-size: 11px;
	}
}