body {
  margin: 0px 0px 20px 0px;
  background-color: #ffffff;
  font-family: Verdana, Arial, sans-serif;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

a:link {
  color: #000066;
}

a:visited {
  color: #666666;
}

a:active {
  color: #000066;
}

.keys-left {
  font-size: 85%;
  white-space: nowrap;
  text-align: right;
}

td {
  vertical-align: top;
}

a:hover {
  color: #CC6600;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

#container {
  line-height: 140%;
}

#banner {
  color: #FF4000;
  background-color: #fff100;
  text-align: left;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

#donate {
  position: absolute;
  top: 4px;
  right: 16px;
  /*border: 1px solid #CC6600; */
  padding: 4px 8px;
  text-decoration: none;
  color: orangered;
  color: red;
}

#donate:hover {
  background-color: orange;
  background-color: red;
  color: #fff100;
}

#banner h1 {
  font-size: x-large;
  font-weight: bold;
}

#banner h2 {
  font-size: small;
}

#center {
  margin-right: 0px;
  overflow: hidden;
}

.content {
  padding: 15px 15px 5px 15px;
  background-color: #FFFFFF;
  color: #333;
  font-size: 14px;
}

.content p {
  color: #333;
  font-weight: normal;
  line-height: 150%;
  text-align: left;
  margin-bottom: 10px;
}

.content blockquote {
  line-height: 150%;
}

.content li {
  line-height: 150%;
}

.content h2 {
  color: #ff4000;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: medium;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

col, colgroup, table, tbody, td, tfoot, th, thead, tr {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px none;
  border-right: 0px none;
  float: none;
  clear: none;
}

/* Tabs:  Source: Dynamic Drive CSS Library   URL: http://www.dynamicdrive.com/style/ */

#ddcolortabs {
  margin-left: 4px;
  padding: 0;
  padding-top: 8px;
  width: 100%;
  background: transparent;
  voice-family: "\"}\"";
  voice-family: inherit;
  padding-left: 5px;
}

#ddcolortabs ul {
  /*font: bold 11px Arial, Verdana, sans-serif; */
  font-size: small;
  margin: 0;
  padding: 0;
  list-style: none;
}

#ddcolortabs li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  /* text-transform:uppercase; */
}

#ddcolortabs a {
  float: left;
  color: #FF4000;
  /* background: #678b3f no-repeat left top; */
  background: #fff100;
  margin: 0 2px 0 0;
  padding: 0 0 1px 3px;
  text-decoration: none;
  letter-spacing: 1px;
}

#ddcolortabs a span {
  float: left;
  display: block;
  background: transparent;
  padding: 4px 9px 2px 6px;
}

#ddcolortabs a span {
  float: none;
}

#ddcolortabs a:hover {
  /* background-color: #8cb85c; */
  background-color: #fff;
}

#ddcolortabs a:hover span {
  /* background-color: #8cb85c; */
  background-color: #fff;
}

#ddcolortabs #current a, #ddcolortabs #current span {
  /*currently selected tab*/
  background-color: #fff;
  /* background-color: #8cb85c; */
}

#ddcolortabsline {
  clear: both;
}

.trans {
  position: relative;
  top: 2px;
  left: -8px;
  font-size: 80%;
  font-weight: normal;
}

.gooad {
  margin-top: 4px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 748px;
  /* seems to be 728 really, adding margin for safety */
}

.goodadtxt {
  color: gray;
  font-size: 70%;
  margin: 0px;
}

.ad {
  font-family: geneva, helvetica, arial, sans-serif;
  font-size: 12pt;
  background-color: #FBF0FA;
  padding: 4px 8px;
}

.adl {
  color: green;
}

/* for screenshots */
.ib {
  display: inline-block;
}

.mt1 {
  margin-top: 0.25rem;
}
.mt2 {
  margin-top: 0.5rem;
}
.mt3 {
  margin-top: 1rem;
}
.mb6 {
  margin-bottom: 2rem;
}

.pa1 {
  padding: 4px;
}

.mr2 {
  margin-right: 0.5rem;
}
.mr3 {
  margin-right: 1rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.selected-img {
  border: 1px solid lightskyblue;
}

#shot-description {
  padding: 8px 16px; 

  position:absolute; 
  bottom: 22px; 
  left: 50%; 
  transform: translateX(-50%); 

  background-color: black; 
  opacity: 0.8; 
  color: white; 
  border-radius: 8px;

  white-space: pre; 
}

.img-wrapper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-wrapper {
  position: relative;
  min-width: 90vw;
  max-width: 720px;
  max-height: 700px;
  display: flex;
  justify-content: space-around;
}

.img-wrapper > img {
  object-fit: scale-down;
  max-width: 100%;
}

.nav-icon-left {
  position: absolute;
  left: 0;
  top: calc(50% - 24px);
}

.nav-icon-right {
  position: absolute;
  right: 0;
  top: calc(50% - 24px);
}

a.for-nav-icon {
  display: flex;

  text-decoration: none;
  font-size: 0px;
  justify-content: center;
  align-items: center;

  fill: gray;
  width: 40px;
  height: 40px;

  border-radius: 24px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}

a.for-nav-icon:hover {
  fill: #555;
  background-color: hsl(0, 0%, 95%);
}

.nav-icon {
  width: 24px;
  height: 24px;
  pointer-events: none;
  display: block;
}

.testimonials {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial {
  width: 30%;
  /* background-color: #FBF0FA; */
  padding-left: 10px;
  padding-right: 10px;
}

.testimonials-text {
  font-style: italic;
}

.testimonial-who {
  font-size: 90%;
  float: right;
}