.autotools
.cproject
.project
.settings
*.o
*.Plo
*.a
*.so.*
*.la
*.lai
*.lo
*.Po
*.pc
*.so
*.lib
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/config.status
/utils/common/.dirstamp
/testbed/.libs/lt-testcms
/testbed/.libs/testcms
/testbed/testcms
