Source: mupdf
Section: text
Priority: optional
Maintainer: Tor Andersson <tor@ghostscript.com>
Build-Depends: debhelper (>= 5), make, pkg-config, gcc, coreutils, binutils, tar, libfreetype6-dev, libx11-dev, libxext-dev, libjbig2dec0-dev, libopenjpeg-dev, libjpeg62-dev, zlib1g-dev
Standards-Version: 3.7.2

Package: mupdf
Architecture: any
Depends: ${shlibs:Depends}
Description: A lightweight PDF viewer written in portable C
 MuPDF is a lightweight PDF viewer and toolkit written in portable C.
 .
 The renderer in MuPDF is tailored for high quality anti-aliased graphics.
 It renders text with metrics and spacing accurate to within fractions of a
 pixel for the highest fidelity in reproducing the look of a printed page
 on screen.
 .
 MuPDF has a small footprint. A binary that includes the standard Roman
 fonts is only one megabyte. A build with full CJK support (including an
 Asian font) is approximately five megabytes.
 .
 MuPDF has support for all non-interactive PDF 1.7 features, and the
 toolkit provides a simple API for accessing the internal structures of the
 PDF document. Example code for navigating interactive links and bookmarks,
 encrypting PDF files, extracting fonts, images, and searchable text, and
 rendering pages to image files is provided.

Package: mupdf-utils
Architecture: any
Depends: ${shlibs:Depends}
Description: Debugging utils for MuPDF, a lightweight PDF renderer in C
 MuPDF is a lightweight PDF viewer and toolkit written in portable C.
 .
 These are the utilities used when developing and debugging the MuPDF
 renderer. Included is pdfdraw that renders and outputs the result to a PNM
 file, pdfshow that prints the contents of PDF objects and pdfclean that
 garbage collects, decompresses and pretty prints complete PDF files.
