name: Build
on:
  push:
  pull_request:
  repository_dispatch:
    types: [build-pre-rel]
jobs:
  build:
    name: Build
    runs-on: SumatraBuilder
    #runs-on: windows-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Check out source code
        uses: actions/checkout@v3
        with:
          # needed to calc build number via git log --oneline
          fetch-depth: 0

      - name: Build
        env:
          CERT_PWD: ${{ secrets.CERT_PWD }}
        run: .\doit.bat -ci
