name: Build
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Check out source code
        uses: actions/checkout@v1

      - name: Build
        env:
          CERT_PWD: ${{ secrets.CERT_PWD }}
        run: .\doit.bat -ci

      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: SumatraPDF
          path: artifacts
