name: daily
on:
  schedule:
    - cron: "0 1 * * *"
  repository_dispatch:
    types: [build-daily]
  workflow_dispatch:
jobs:
  build:
    name: Build
    #runs-on: SumatraBuilder
    runs-on: windows-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
          # needed to calc build number via git log --oneline
          fetch-depth: 0

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Build
        run: .\doit.bat -ci-daily
